.recipeCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 600px;
  background-color: #eef8ff;
}

.recipeImage {
  width: 175px;
  height: 200px;
  border-radius: 15px;
  padding-top: 8px;
} 

.cardActions {
    display: flex;
    gap: 1em;
    justify-content: flex-end;
}

.actionButton:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background-color: pink;
    cursor: pointer;
}

.actionButton {
    width: 5em;
    height: 3em;
    background-color: #ffeef0;
    border: none;
    border-radius: 8px;
}

.recipeNameContainer {
    display: flex;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
}

.recipeDetails {
    margin-top: 1px;
}

.recipeDetails p {
    margin: 2px 2px;
    padding: 2px;
}

.recipeDetails ul,
.recipeDetails ol {
    margin-left: 10px;
    padding-left: 10px;
}
