.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 300px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 350px;
  background-color: #FFDCDC;

}
.cardContainer:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.cardButton:hover {
 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.cardImage img {
  width: 275px;
  height: 200px;
  border-radius: 15px;
  padding-top: 8px;
}

.cardName {
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px 0;
  text-align: center;
}

.cardPrepTime {
  font-size: 1em;
  color: #555;
  margin-bottom: 10px;
  text-align: center;
}

.cardButton {
  width: 80%;
  padding: 10px;
  background-color: #FF6F61;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}