.viewContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  border: 1px solid black;
  border-radius: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 0;
  padding: 0;
  background: rgba(0,0,0,0.5);
  background: #fff;
  z-index: 1000;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.viewImage img {
  width: 275px;
  height: 200px;
  border-radius: 15px;
  justify-content: center;
  padding-top: 8px;
}
.viewImage img:hover{
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
.viewButton{
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 30px;
  background-color: palevioletred;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.viewButton:hover{
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  background-color: lightsalmon;
}

.viewBody{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.viewHead{

  margin-right: 100px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.viewName{
  font-size: 2em;
  font-weight: bold;
  margin: 10px 0;
  text-align: center;
}
.viewIngredients{
  font-size: 1.5em;
  color: black;
  font-weight: 200px;
  margin: 10px 0;
  text-align: center;
}
.viewHead:hover{
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.viewProcess{
  font-size: 1.5em;
  color: black;
  font-weight: 200px;
  margin: 10px 0;
  text-align: center;
}