body {
    background-color: #fff2eb;
}

.ancestorContainer {
    display: flex;
    flex-direction: column;
    height: 100vh; 
    align-items: center;
    padding: 20px;
}

.header {
    display: flex;
    height: 6vh;
    width: 100%;
    justify-content: space-around;
    font-size: 3em;
    font-weight: bold;
    padding-bottom: 1.5em;
}

.createRecipeButton {
    background-color: #fef4ff;
    font-size: 1em;
    border-radius: 8px;
    border: none;
    padding: 0.5em;
}

.createRecipeButton:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background-color: violet;
    cursor: pointer;
}

.modalOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent { 
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.modalButtons {
    display: flex;
    justify-content: flex-end;
    margin-top: 1em;
    gap: 1em;
}

.modalButton {
    background-color: lightblue;
    border-radius: 8px;
    border: none;
    padding: 0.5em;
}

.noRecipes {
    width: 70%;
    display: flex;
    font-size: 2em;
    background-color:#ffdcdc;
    justify-content: center;
    padding: 1.5em;
    border-radius: 8px;
    margin-top: 2em;
}

.BackButton {
    width: 60px;
    height: 40px;
    border-radius: 8px;
    background-color: #FFDCDC;
    position: absolute;
    top: 30px;
    left: 10px;
}

.BackButton:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background-color: darkmagenta;
}